#textdomain wesnoth-Danse_Macabre
[scenario]
    id=09b_falling_sky
    next_scenario=08_the_dead_bondage

    name=_ "Falling Sky"
    map_data="{~add-ons/Danse_Macabre/maps/DM09b.map}"
    turns=25
    victory_when_enemies_defeated=yes
    {DEFAULT_SCHEDULE}

    {INTRO_AND_SCENARIO_MUSIC silence.ogg frantic.ogg}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}
    {EXTRA_SCENARIO_MUSIC battle.ogg}

    [story]
        [part]
            story= _ "Macabre advanced into the desert which Drakes were based in."
            show_title=yes
        [/part]
    [/story]

    [side]
        side=1
        controller=human
        team_name=macabre
        user_team_name=_"Macabre"
        type=Death Lord
        id=Macabre
        name=_ "Macabre"
        unrenamable=yes
        canrecruit=yes
        recruit=DM Walking Corpse,Ghost,Ghoul,Skeleton,Skeleton Archer,Skeleton Rider,Zombie Mage
        fog=no
        shroud=no
        gold=230
        village_gold=1
        {FLAG_VARIANT undead}
    [/side]

    [side]
        side=2
        controller=ai
        team_name=drake
        user_team_name=_"Drake"
        type=Drake Flameheart
        id=drakeking
        name=_ "Chrysophylax"
        canrecruit=yes
        recruit=Drake Warrior,Drake Burner,Drake Thrasher,Sky Drake
        {GOLD 300 350 400}
        income=15
        village_gold=2
        fog=no
        shroud=no
        [ai]
            recruitment_ignore_bad_movement=yes
            recruitment_ignore_bad_combat=yes
            recruitment_pattern=fighter,fighter,archer,archer,scout
            grouping=no
        [/ai]
    [/side]

    [side]
        side=3
        controller=ai
        team_name=drake
        user_team_name=_"Saurian"
        no_leader=yes
        fog=no
        shroud=no
        gold=0
        village_gold=2
        {NO_INCOME}
        [ai]
            aggression=0.8
            leader_value=3
            grouping=no
            caution=0.1
        [/ai]
    [/side]

    [side]
        side=4
        controller=ai
        team_name=maddrake
        user_team_name=_"???"
        no_leader=yes
        fog=no
        shroud=no
        gold=0
        village_gold=2
        {NO_INCOME}
    [/side]

    {STARTING_VILLAGES_ALL 2}

    [event]
        name=prestart

        {KILL_NO_EXPERIENCE}

        {RECALL_LOYALS}

        {PLACE_IMAGE scenery/tent-ruin-1.png 33 18}
        {PLACE_IMAGE scenery/tent-ruin-1.png 32 13}
        {PLACE_IMAGE scenery/tent-ruin-1.png 3 8}
        {PLACE_IMAGE scenery/village-human-burned1.png 29 9}
        {PLACE_IMAGE scenery/village-human-burned1.png 21 32}

        [unit]
            type=Drake Warden
            id=prisonguard
            x,y=35,8
            side=2
        [/unit]

        # wmllint: recognize saurianleader
        {GENERIC_UNIT_DM 3 (Saurian Flanker) saurianleader 14 29}{NO_UPKEEP}
        {GENERIC_UNIT 3 (Saurian Oracle) 16 28}{NO_UPKEEP}
        {GENERIC_UNIT 3 (Saurian Oracle) 16 30}{NO_UPKEEP}
        {GENERIC_UNIT 3 (Saurian Ambusher) 18 27}{NO_UPKEEP}
        {GENERIC_UNIT 3 (Saurian Ambusher) 18 31}{NO_UPKEEP}
        {GENERIC_UNIT 3 (Saurian Skirmisher) 20 28}{NO_UPKEEP}
        {GENERIC_UNIT 3 (Saurian Skirmisher) 20 30}{NO_UPKEEP}
        {GENERIC_UNIT 3 (Saurian Skirmisher) 22 29}{NO_UPKEEP}
        {GENERIC_UNIT 3 (Saurian Soothsayer) 18 29}{NO_UPKEEP}
        {GAURDIAN_DM 2 (Drake Thrasher) 12 3}
        {GAURDIAN_DM 2 (Fire Drake) 7 6}

        {MODIFY_UNIT side=1 facing nw}
        {MODIFY_UNIT side=2 facing se}
        {MODIFY_UNIT side=3 facing se}
        {MODIFY_UNIT side=4 facing sw}

        [objectives]
            side=1
            [objective]
                condition=win
                description=_ "Defeat Enemy Leader"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Macabre"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Merrin"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Boreas"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Philosophy"
            [/objective]

            note={EARLY_FINISH_BONUS_NOTE}+{NEW_GOLD_CARRYOVER_NOTE_40}
        [/objectives]
    [/event]

    [event]
        name=start
        [message]
            speaker=drakeking
            message= _ "Damn Undead! Kill them all!"
        [/message]
        [message]
            speaker=saurianleader
            message= _ "Support Drakes!!"
        [/message]
    [/event]

    [event]
        name=side 2 turn
        first_time_only=no
        {MODIFY_UNIT id=drakeking moves 0}
        {MODIFY_UNIT id=prisonguard moves 0}
    [/event]

    [event]
        name=attack
        first_time_only=yes
        [filter]
            side=1
        [/filter]
        [filter_second]
            id=prisonguard
        [/filter_second]
        [message]
            speaker=prisonguard
            message= _ "Stop!!"
        [/message]
        [message]
            speaker=Macabre
            message= _ "What are you guarding?"
        [/message]
        [message]
            speaker=prisonguard
            message= _ "Not guarding! There is a dangerous drake in this prison! We should never liberate him!"
        [/message]
        [message]
            speaker=Macabre
            message= _ "Hm...interesting...very interesting. I really want to see him."
        [/message]
        [message]
            speaker=prisonguard
            message= _ "No!!"
        [/message]
    [/event]

    [event]
        name=die
        [filter]
            id=prisonguard
        [/filter]
        [delay]
            time=1000
        [/delay]
        [scroll_to]
            x,y=41,2
        [/scroll_to]
        [message]
            speaker=narrator
            message= _ "....What...happened..." # wmllint: no spellcheck
            sound=drake-hit-2.ogg
            image= # wmllint: ignore
        [/message]

        {MODIFY_TERRAIN Ur (32,33,34,34,35,36,37,38,39,40,40,41,42,43,43,43) (2,2-3,1,3-4,2-7,1-7,2-7,1-7,2-8,1-3,5-7,1-8,1-7,2,5,7)}
        {MODIFY_TERRAIN Uu^Uf (32-33,42-43) (1,8)}
        {MODIFY_TERRAIN Ur^Dr (34,37,40,43) (2,1,4,6)}
        {REDRAW}
        [unit]
            type=maddrake
            id=maddrake
            name= _ "Smok Wawelski"
            x,y=41,2
            side=4
            upkeep=loyal
            facing=sw
            {IS_HERO}
        [/unit]

        {REDRAW}

        [delay]
            time=600
        [/delay]

        [message]
            speaker=maddrake
            message= _ "....Undead?..." # wmllint: no spellcheck
        [/message]
        [message]
            speaker=Macabre
            message= _ "Yes, I hear you are mad. Show your madness!"
        [/message]
        [message]
            speaker=maddrake
            message= _ "...I was called a hero in a time past...But now I'm just called mad..."
        [/message]
        [message]
            speaker=maddrake
            message= _ "...Muhahahaha!!! OK! I will show my MADNESS! I will burn the whole world!!"
        [/message]
        [message]
            speaker=Macabre
            message= _ "Good... Cut his heart out! That will give us a new power!!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=maddrake
        [/filter]
        [message]
            id=maddrake
            message= _ "...It's over...Enjoy my mad heart..."
        [/message]

        {VARIABLE _x1        $x1}
        {VARIABLE _y1        $y1}
        [scroll_to_unit]
            id=maddrake
        [/scroll_to_unit]

        {DELAY 600}
        {REDRAW}
        [animate_unit]
            flag=attack
            [filter]
                x,y=$x2,$y2
            [/filter]
            [primary_attack]
                range=melee
            [/primary_attack]
            hits=yes
            [facing]
                x,y=$x1,$y1
            [/facing]
        [/animate_unit]
        {REDRAW}

        [sound]
            name=claws.ogg
        [/sound]
        {COLOR_ADJUST 67 0 0}
        {COLOR_ADJUST 100 0 0}
        {COLOR_ADJUST 33 0 0}
        {COLOR_ADJUST 0 0 0}
        [kill]
            id=maddrake
            animate=yes
        [/kill]
        {REDRAW}
        [delay]
            time=600
        [/delay]

        {PICKUPPABLE_ITEM_DM heart_of_elf $_x1 $_y1 side=1 items/ball-magenta.png _"This is a heart of drake. Should he pick it up?" ([object]
        name= _ "The Heart of Drake"
        image=items/ball-magenta.png
        description= _ "He ate the heart and got fire breath and fire resistance!"
        [effect]
            apply_to=new_attack
            description= _ "fire breath"
            name=fire breath
            icon=attacks/fire-breath-drake.png
            type=fire
            range=ranged
            damage=8
            number=6
        [/effect]
        [effect]
            [filter]
                [not]
                    type=Soulless Boreas
                [/not]
                [not]
                    type=Running Boreas
                [/not]
                [not]
                    type=Brain Boreas
                [/not]
                [not]
                    type=Battalion Boreas
                [/not]
            [/filter]
            apply_to=new_animation
            name=fire breath
            [attack_anim]
                [filter_attack]
                    name=fire breath
                [/filter_attack]
                {MISSILE_FRAME_FIRE_BREATH 12,-39 12,19 25,-26 27,19}
                [if]
                    hits=no

                    [frame]
                        begin=-400
                        end=-350
                        sound=flame-big-miss.ogg
                    [/frame]
                [/if]
                [else]
                    hits=yes

                    [frame]
                        begin=-400
                        end=-350
                        sound=flame-big.ogg
                    [/frame]
                [/else]
            [/attack_anim]
        [/effect]
        [effect]
            apply_to=resistance
            replace=true
            [resistance]
                fire=20
            [/resistance]
        [/effect]
    [/object])}
    {REDRAW}
    [delay]
        time=800
    [/delay]
    [message]
        speaker=Macabre
        message= _ "Well done. If there is a man among you, let him eat the heart!"
    [/message]
[/event]

{MACABRE_DEATH}
{MERRIN_DEATH}
{BOREAS_DEATH}
{PHILOSOPHY_DEATH}
{TIME_OUT_LOSE}

[event]
    name=victory
    {VARIABLE_OP num_done add 1}
    [set_variable]
        name=drakes
        value=1
    [/set_variable]

    [set_variable]
        name=last_done
        value="drakes"
    [/set_variable]
    {CLEAR_VARIABLE _x1,_y1}
[/event]

[event]
    name=enemies defeated
    [endlevel]
        result=victory
        bonus=yes
        {NEW_GOLD_CARRYOVER 40}
    [/endlevel]
[/event]
[/scenario]
