#textdomain wesnoth-Danse_Macabre
[unit_type]
    #macro to define most of the non-graphical part of Walking Corpse
#define UNIT_BODY_BRAINEATER_STATS MOVETYPE MOVES HP
    id=Brain Eater
    name= _ "Brain Eater"
    race=undead
    {TRAIT_FEARLESS_MUSTHAVE}
    hitpoints={HP}
    movement_type={MOVETYPE}
    movement={MOVES}
    experience=180
    level=3
    alignment=chaotic
    advances_to=Battalion
    cost=33
    usage=fighter
    description= _ "Brain Eaters are epicurean corpses who take pleasure in eating brains. Brains become the greatest delicacies for them. Do brain lovers change into Brain Eaters, or do Brain Eaters need to eat brains? Anyway, they can run faster and attack stronger than in life. They scare even elite units."+{SPECIAL_NOTES}+{SPECIAL_NOTES_PLAGUE}
    [resistance]
        arcane=140
    [/resistance]
    [attack]
        name=touch
        description={STR_TOUCH}
        icon=attacks/touch-zombie.png
        type=impact
        range=melee
        damage=11
        number=4
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
#enddef
    #macro to define most of the graphical part of Walking Corpse
#define UNIT_BODY_BRAINEATER_GRAPHICS_NO_DEATH_ANIM BASE_IMAGESTEM
    image="units/brain/{BASE_IMAGESTEM}.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    die_sound={SOUND_LIST:ZOMBIE_HIT}
    {DEFENSE_ANIM "units/brain/{BASE_IMAGESTEM}-defend.png" "units/brain/{BASE_IMAGESTEM}.png" {SOUND_LIST:ZOMBIE_HIT} }
    [death]
        start_time=0
        [frame]
            duration=150
            image="units/brain/brain-die-4.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-5.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-6.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-7.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-8.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-9.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-10.png"
        [/frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        direction=s
        [frame]
            begin=-200
            end=200
            image="units/brain/{BASE_IMAGESTEM}-attack-s.png"
            sound=zombie-attack.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        direction=n
        [frame]
            begin=-200
            end=200
            image="units/brain/{BASE_IMAGESTEM}-attack-n.png"
            sound=zombie-attack.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        direction=se,sw,ne,nw
        [frame]
            begin=-200
            end=200
            image="units/brain/{BASE_IMAGESTEM}-attack.png"
            sound=zombie-attack.wav
        [/frame]
    [/attack_anim]
#enddef
#define UNIT_BODY_BRAINEATER_GRAPHICS BASE_IMAGESTEM
    image="units/brain/{BASE_IMAGESTEM}.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    die_sound={SOUND_LIST:ZOMBIE_HIT}
    {DEFENSE_ANIM "units/brain/{BASE_IMAGESTEM}-defend.png" "units/brain/{BASE_IMAGESTEM}.png" {SOUND_LIST:ZOMBIE_HIT} }
    [death]
        start_time=0
        [frame]
            duration=150
            image="units/brain/{BASE_IMAGESTEM}-die-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/{BASE_IMAGESTEM}-die-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/{BASE_IMAGESTEM}-die-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/{BASE_IMAGESTEM}-die-4.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-5.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-6.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-7.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-8.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-9.png"
        [/frame]
        [frame]
            duration=150
            image="units/brain/brain-die-10.png"
        [/frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        direction=s
        [frame]
            begin=-200
            end=200
            image="units/brain/{BASE_IMAGESTEM}-attack-s.png"
            sound=zombie-attack.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        direction=n
        [frame]
            begin=-200
            end=200
            image="units/brain/{BASE_IMAGESTEM}-attack-n.png"
            sound=zombie-attack.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        direction=se,sw,ne,nw
        [frame]
            begin=-200
            end=200
            image="units/brain/{BASE_IMAGESTEM}-attack.png"
            sound=zombie-attack.wav
        [/frame]
    [/attack_anim]
#enddef
    {UNIT_BODY_BRAINEATER_STATS smallfoot 5 58}
    {UNIT_BODY_BRAINEATER_GRAPHICS brain}
    [movement_costs]
        deep_water=4
    [/movement_costs]
    [defense]
        deep_water=90
    [/defense]
#textdomain wesnoth-units
    [variation]
        variation_id=drake
        variation_name= _ "wc_variation^Drake"
        {UNIT_BODY_BRAINEATER_STATS drakefoot 5 66}
        {UNIT_BODY_BRAINEATER_GRAPHICS_NO_DEATH_ANIM brain-drake}
        [movement_costs]
            deep_water=4
        [/movement_costs]
        [defense]
            deep_water=90
        [/defense]
    [/variation]
    [variation]
        variation_id=dwarf
        variation_name= _ "wc_variation^Dwarf"
        {UNIT_BODY_BRAINEATER_STATS dwarvishfoot 4 63}
        {UNIT_BODY_BRAINEATER_GRAPHICS brain-dwarf}
        [movement_costs]
            deep_water=3
        [/movement_costs]
        [defense]
            deep_water=90
        [/defense]
    [/variation]
    [variation]
        variation_id=mounted
        variation_name= _ "wc_variation^Mounted"
        {UNIT_BODY_BRAINEATER_STATS mounted 6 63}
        {UNIT_BODY_BRAINEATER_GRAPHICS brain-mounted}
        [movement_costs]
            deep_water=4
        [/movement_costs]
        [defense]
            deep_water=90
        [/defense]
    [/variation]
    [variation]
        variation_id=gryphon
        variation_name= _ "wc_variation^Gryphon"
        {UNIT_BODY_BRAINEATER_STATS fly 6 63}
        {UNIT_BODY_BRAINEATER_GRAPHICS brain-drake}
        [defense]
            mountains=40
        [/defense]
    [/variation]
    [variation]
        variation_id=saurian
        variation_name= _ "wc_variation^Saurian"
        {UNIT_BODY_BRAINEATER_STATS lizard 5 55}
        {UNIT_BODY_BRAINEATER_GRAPHICS brain-saurian}
        [movement_costs]
            deep_water=4
        [/movement_costs]
        [defense]
            deep_water=90
        [/defense]
    [/variation]
    [variation]
        variation_id=swimmer
        variation_name= _ "wc_variation^Swimmer"
        {UNIT_BODY_BRAINEATER_STATS swimmer 5 58}
        {UNIT_BODY_BRAINEATER_GRAPHICS brain-swimmer}
        [movement_costs]
            forest=4
            hills=4
        [/movement_costs]
    [/variation]
    [variation]
        variation_id=troll
        variation_name= _ "wc_variation^Troll"
        {UNIT_BODY_BRAINEATER_STATS largefoot 5 63}
        {UNIT_BODY_BRAINEATER_GRAPHICS brain-troll}
        [movement_costs]
            deep_water=4
        [/movement_costs]
        [defense]
            deep_water=90
        [/defense]
    [/variation]
    [variation]
        variation_id=wose
        variation_name= _ "wc_variation^Wose"
        {UNIT_BODY_BRAINEATER_STATS treefolk 4 70}
        {UNIT_BODY_BRAINEATER_GRAPHICS brain-wose}
        [movement_costs]
            deep_water=3
        [/movement_costs]
        [defense]
            deep_water=90
        [/defense]
    [/variation]
    [variation]
        variation_id=bat
        variation_name= _ "wc_variation^Bat"
        inherit=no
        {UNIT_BODY_BRAINEATER_STATS fly 6 54}
        [movement_costs]
            cave=1
            fungus=1
        [/movement_costs]
        [defense]
            cave=50
            fungus=50
        [/defense]
        [resistance]
            cold=70
        [/resistance]
        {MAGENTA_IS_THE_TEAM_COLOR}
        image="units/brain/brain-bat-se-3.png"
        die_sound="bat-flapping.wav"
        [defend]
            direction=s,sw,se
            [if]
                hits=miss
                offset=0.0~-0.15,-0.15~0.0
            [/if]
            start_time=-126
            [frame]
                duration=1
                image="units/brain/brain-bat-se-3.png"
            [/frame]
            [frame]
                duration=100
                image="units/brain/brain-bat-se-4.png"
            [/frame]
            [if]
                hits=hit
                [frame]
                    duration=150
                    image="units/brain/brain-bat-se-4.png"
                    sound={SOUND_LIST:ZOMBIE_WEAK_HIT}
                [/frame]
            [/if]
            [else]
                hits=miss,kill
                [frame]
                    duration=150
                    image="units/brain/brain-bat-se-4.png"
                [/frame]
            [/else]
            [frame]
                duration=1
                image="units/brain/brain-bat-se-3.png"
            [/frame]
        [/defend]
        [defend]
            direction=n,nw,ne
            [if]
                hits=miss
                offset=0.0~-0.15,-0.15~0.0
            [/if]
            start_time=-126
            [frame]
                duration=1
                image="units/brain/brain-bat-ne-3.png"
            [/frame]
            [frame]
                duration=100
                image="units/brain/brain-bat-ne-4.png"
            [/frame]
            [if]
                hits=hit
                [frame]
                    duration=150
                    image="units/brain/brain-bat-ne-4.png"
                    sound={SOUND_LIST:ZOMBIE_WEAK_HIT}
                [/frame]
            [/if]
            [else]
                hits=miss,kill
                [frame]
                    duration=150
                    image="units/brain/brain-bat-ne-4.png"
                [/frame]
            [/else]
            [frame]
                duration=1
                image="units/brain/brain-bat-ne-3.png"
            [/frame]
        [/defend]
        [standing_anim]
            direction=s,se,sw
            start_time=0
            [frame]
                duration=50
                image="units/brain/brain-bat-se-3.png"
            [/frame]
            [frame]
                duration=60
                image="units/brain/brain-bat-se-2.png"
            [/frame]
            [frame]
                duration=80
                image="units/brain/brain-bat-se-1.png"
            [/frame]
            [frame]
                duration=60
                image="units/brain/brain-bat-se-2.png"
            [/frame]
            [frame]
                duration=50
                image="units/brain/brain-bat-se-3.png"
            [/frame]
            [frame]
                duration=60
                image="units/brain/brain-bat-se-4.png"
            [/frame]
            [frame]
                duration=80
                image="units/brain/brain-bat-se-5.png"
            [/frame]
            [frame]
                duration=60
                image="units/brain/brain-bat-se-4.png"
            [/frame]
        [/standing_anim]
        [standing_anim]
            direction=n,ne,nw
            start_time=0
            [frame]
                duration=50
                image="units/brain/brain-bat-ne-3.png"
            [/frame]
            [frame]
                duration=60
                image="units/brain/brain-bat-ne-2.png"
            [/frame]
            [frame]
                duration=80
                image="units/brain/brain-bat-ne-1.png"
            [/frame]
            [frame]
                duration=60
                image="units/brain/brain-bat-ne-2.png"
            [/frame]
            [frame]
                duration=50
                image="units/brain/brain-bat-ne-3.png"
            [/frame]
            [frame]
                duration=60
                image="units/brain/brain-bat-ne-4.png"
            [/frame]
            [frame]
                duration=80
                image="units/brain/brain-bat-ne-5.png"
            [/frame]
            [frame]
                duration=60
                image="units/brain/brain-bat-ne-4.png"
            [/frame]
        [/standing_anim]

        [attack_anim]
            [filter_attack]
                name=touch
            [/filter_attack]
            direction=s,se,sw
            offset=0.0~0.9:200,0.9~0.0:160
            start_time=-200
            [frame]
                duration=30
                image="units/brain/brain-bat-se-3.png"
            [/frame]
            [frame]
                duration=30
                image="units/brain/brain-bat-se-2.png"
            [/frame]
            [frame]
                duration=30
                image="units/brain/brain-bat-se-1.png"
                sound=bat-flapping.wav
            [/frame]
            [frame]
                duration=30
                image="units/brain/brain-bat-se-2.png"
            [/frame]
            [frame]
                duration=30
                image="units/brain/brain-bat-se-3.png"
            [/frame]
            [frame]
                duration=70
                image="units/brain/brain-bat-se-4.png"
                sound=zombie-attack.wav
            [/frame]
            [frame]
                duration=50
                image="units/brain/brain-bat-se-3.png"
            [/frame]
            [frame]
                duration=50
                image="units/brain/brain-bat-se-2.png"
            [/frame]
            [frame]
                duration=40
                image="units/brain/brain-bat-se-3.png"
            [/frame]
        [/attack_anim]

        [attack_anim]
            [filter_attack]
                name=touch
            [/filter_attack]
            direction=n,ne,nw
            offset=0.0~0.9:200,0.9~0.0:160
            start_time=-200
            [frame]
                duration=30
                image="units/brain/brain-bat-ne-3.png"
            [/frame]
            [frame]
                duration=30
                image="units/brain/brain-bat-ne-2.png"
            [/frame]
            [frame]
                duration=30
                image="units/brain/brain-bat-ne-1.png"
                sound=bat-flapping.wav
            [/frame]
            [frame]
                duration=30
                image="units/brain/brain-bat-ne-2.png"
            [/frame]
            [frame]
                duration=30
                image="units/brain/brain-bat-ne-3.png"
            [/frame]
            [frame]
                duration=70
                image="units/brain/brain-bat-ne-4.png"
                sound=zombie-attack.wav
            [/frame]
            [frame]
                duration=50
                image="units/brain/brain-bat-ne-3.png"
            [/frame]
            [frame]
                duration=50
                image="units/brain/brain-bat-ne-2.png"
            [/frame]
            [frame]
                duration=40
                image="units/brain/brain-bat-ne-3.png"
            [/frame]
        [/attack_anim]
        [death]
            start_time=0
            [frame]
                duration=150
                image="units/brain/brain-bat-die-1.png"
            [/frame]
            [frame]
                duration=150
                image="units/brain/brain-bat-die-2.png"
            [/frame]
            [frame]
                duration=150
                image="units/brain/brain-bat-die-3.png"
            [/frame]
            [frame]
                duration=150
                image="units/brain/brain-bat-die-4.png"
            [/frame]
            [frame]
                duration=150
                image="units/brain/brain-die-5.png"
            [/frame]
            [frame]
                duration=150
                image="units/brain/brain-die-6.png"
            [/frame]
            [frame]
                duration=150
                image="units/brain/brain-die-7.png"
            [/frame]
            [frame]
                duration=150
                image="units/brain/brain-die-8.png"
            [/frame]
            [frame]
                duration=150
                image="units/brain/brain-die-9.png"
            [/frame]
            [frame]
                duration=150
                image="units/brain/brain-die-10.png"
            [/frame]
        [/death]
    [/variation]
#textdomain wesnoth-Danse_Macabre
[/unit_type]
