#textdomain wesnoth-Danse_Macabre
[unit_type]
    id=Battalion Boreas
    name= _ "Battalion"
    race=undead
    image="units/battalion/battalion-bat-se-3.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=74
    movement_type=smallfly
    movement=12
    experience=150
    hide_help=yes
    do_not_list=yes
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=43
    usage=scout
    description= _ "How on the earth has this one been entertained? It is not a product of necromancy, but unexpected disaster. Without horses, we couldn't escape from this disaster. Even solid armor can be blown sky-high. For this very reason, they are called Battalion and feared by everyone."+{SPECIAL_NOTES}+{SPECIAL_NOTES_PLAGUE}+{SPECIAL_NOTES_DRAIN}
    die_sound="bat-flapping.wav"
    [defense]
        deep_water=30
        shallow_water=30
        reef=30
        swamp_water=30
        flat=30
        sand=30
        forest=30
        hills=30
        mountains=30
        village=50
        castle=30
        cave=30
        frozen=30
        unwalkable=30
        fungus=30
    [/defense]
    [movement_costs]
        fungus=1
    [/movement_costs]
    [resistance]
        cold=70
        arcane=140
    [/resistance]
    [attack]
        name=touch
        description={STR_TOUCH}
        icon=attacks/touch-zombie.png
        type=impact
        range=melee
        damage=11
        number=5
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [defend]
        direction=s,sw,se
        [if]
            hits=miss
            offset=0.0~-0.15,-0.15~0.0
        [/if]
        start_time=-126
        [frame]
            duration=1
            image="units/battalion/battalion-bat-se-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/battalion/battalion-bat-se-4.png"
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image="units/battalion/battalion-bat-se-4.png"
                sound={SOUND_LIST:ZOMBIE_WEAK_HIT}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image="units/battalion/battalion-bat-se-4.png"
            [/frame]
        [/else]
        [frame]
            duration=1
            image="units/battalion/battalion-bat-se-3.png"
        [/frame]
    [/defend]
    [defend]
        direction=n,nw,ne
        [if]
            hits=miss
            offset=0.0~-0.15,-0.15~0.0
        [/if]
        start_time=-126
        [frame]
            duration=1
            image="units/battalion/battalion-bat-ne-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/battalion/battalion-bat-ne-4.png"
        [/frame]
        [if]
            hits=hit
            [frame]
                duration=150
                image="units/battalion/battalion-bat-ne-4.png"
                sound={SOUND_LIST:ZOMBIE_WEAK_HIT}
            [/frame]
        [/if]
        [else]
            hits=miss,kill
            [frame]
                duration=150
                image="units/battalion/battalion-bat-ne-4.png"
            [/frame]
        [/else]
        [frame]
            duration=1
            image="units/battalion/battalion-bat-ne-3.png"
        [/frame]
    [/defend]
    [standing_anim]
        direction=s,se,sw
        start_time=0
        [frame]
            duration=50
            image="units/battalion/battalion-bat-se-3.png"
        [/frame]
        [frame]
            duration=60
            image="units/battalion/battalion-bat-se-2.png"
        [/frame]
        [frame]
            duration=80
            image="units/battalion/battalion-bat-se-1.png"
        [/frame]
        [frame]
            duration=60
            image="units/battalion/battalion-bat-se-2.png"
        [/frame]
        [frame]
            duration=50
            image="units/battalion/battalion-bat-se-3.png"
        [/frame]
        [frame]
            duration=60
            image="units/battalion/battalion-bat-se-4.png"
        [/frame]
        [frame]
            duration=80
            image="units/battalion/battalion-bat-se-5.png"
        [/frame]
        [frame]
            duration=60
            image="units/battalion/battalion-bat-se-4.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        direction=n,ne,nw
        start_time=0
        [frame]
            duration=50
            image="units/battalion/battalion-bat-ne-3.png"
        [/frame]
        [frame]
            duration=60
            image="units/battalion/battalion-bat-ne-2.png"
        [/frame]
        [frame]
            duration=80
            image="units/battalion/battalion-bat-ne-1.png"
        [/frame]
        [frame]
            duration=60
            image="units/battalion/battalion-bat-ne-2.png"
        [/frame]
        [frame]
            duration=50
            image="units/battalion/battalion-bat-ne-3.png"
        [/frame]
        [frame]
            duration=60
            image="units/battalion/battalion-bat-ne-4.png"
        [/frame]
        [frame]
            duration=80
            image="units/battalion/battalion-bat-ne-5.png"
        [/frame]
        [frame]
            duration=60
            image="units/battalion/battalion-bat-ne-4.png"
        [/frame]
    [/standing_anim]

    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        direction=s,se,sw
        offset=0.0~0.9:200,0.9~0.0:160
        start_time=-200
        [frame]
            duration=30
            image="units/battalion/battalion-bat-se-3.png"
        [/frame]
        [frame]
            duration=30
            image="units/battalion/battalion-bat-se-2.png"
        [/frame]
        [frame]
            duration=30
            image="units/battalion/battalion-bat-se-1.png"
            sound=bat-flapping.wav
        [/frame]
        [frame]
            duration=30
            image="units/battalion/battalion-bat-se-2.png"
        [/frame]
        [frame]
            duration=30
            image="units/battalion/battalion-bat-se-3.png"
        [/frame]
        [frame]
            duration=70
            image="units/battalion/battalion-bat-se-4.png"
            sound=zombie-attack.wav
        [/frame]
        [frame]
            duration=50
            image="units/battalion/battalion-bat-se-3.png"
        [/frame]
        [frame]
            duration=50
            image="units/battalion/battalion-bat-se-2.png"
        [/frame]
        [frame]
            duration=40
            image="units/battalion/battalion-bat-se-3.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        direction=n,ne,nw
        offset=0.0~0.9:200,0.9~0.0:160
        start_time=-200
        [frame]
            duration=30
            image="units/battalion/battalion-bat-ne-3.png"
        [/frame]
        [frame]
            duration=30
            image="units/battalion/battalion-bat-ne-2.png"
        [/frame]
        [frame]
            duration=30
            image="units/battalion/battalion-bat-ne-1.png"
            sound=bat-flapping.wav
        [/frame]
        [frame]
            duration=30
            image="units/battalion/battalion-bat-ne-2.png"
        [/frame]
        [frame]
            duration=30
            image="units/battalion/battalion-bat-ne-3.png"
        [/frame]
        [frame]
            duration=70
            image="units/battalion/battalion-bat-ne-4.png"
            sound=zombie-attack.wav
        [/frame]
        [frame]
            duration=50
            image="units/battalion/battalion-bat-ne-3.png"
        [/frame]
        [frame]
            duration=50
            image="units/battalion/battalion-bat-ne-2.png"
        [/frame]
        [frame]
            duration=40
            image="units/battalion/battalion-bat-ne-3.png"
        [/frame]
    [/attack_anim]
    [death]
        start_time=0
        [frame]
            duration=150
            image="units/battalion/battalion-bat-die-1.png"
        [/frame]
        [frame]
            duration=150
            image="units/battalion/battalion-bat-die-2.png"
        [/frame]
        [frame]
            duration=150
            image="units/battalion/battalion-bat-die-3.png"
        [/frame]
        [frame]
            duration=150
            image="units/battalion/battalion-bat-die-4.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/battalion/battalion-die-5.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/battalion/battalion-die-6.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/battalion/battalion-die-7.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/battalion/battalion-die-8.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/battalion/battalion-die-9.png"
        [/frame]
        [frame]
            duration=150
            image="units/undead/battalion/battalion-die-10.png"
        [/frame]
    [/death]

    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
        [if]
            direction=n

            [missile_frame]
                begin=-400
                end=100
                halo=projectiles/fire-breath-n-1.png:80,projectiles/fire-breath-n-2.png:80,projectiles/fire-breath-n-3.png:80,projectiles/fire-breath-n-4.png:80,projectiles/fire-breath-n-5.png:80
                halo_x,halo_y=12,-39
            [/missile_frame]
        [/if]
        [else]
            direction=ne,nw

            [missile_frame]
                begin=-400
                end=100
                halo=projectiles/fire-breath-ne-1.png:80,projectiles/fire-breath-ne-2.png:80,projectiles/fire-breath-ne-3.png:80,projectiles/fire-breath-ne-4.png:80,projectiles/fire-breath-ne-5.png:80
                halo_x,halo_y=25,-26
            [/missile_frame]
        [/else]
        [if]
            hits=no

            [frame]
                begin=-400
                end=-350
                image="units/battalion/battalion-bat-ne-3.png"
                sound=flame-big-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes

            [frame]
                begin=-400
                end=-350
                image="units/battalion/battalion-bat-ne-3.png"
                sound=flame-big.ogg
            [/frame]
        [/else]

        [frame]
            begin=-350
            end=100
            image="units/battalion/battalion-bat-ne-3.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]

        [if]
            direction=s

            [missile_frame]
                begin=-400
                end=100
                halo=projectiles/fire-breath-s-1.png:80,projectiles/fire-breath-s-2.png:80,projectiles/fire-breath-s-3.png:80,projectiles/fire-breath-s-4.png:80,projectiles/fire-breath-s-5.png:80
                halo_x,halo_y=12,19
            [/missile_frame]
        [/if]
        [else]
            direction=se,sw

            [missile_frame]
                begin=-400
                end=100
                halo=projectiles/fire-breath-se-1.png:80,projectiles/fire-breath-se-2.png:80,projectiles/fire-breath-se-3.png:80,projectiles/fire-breath-se-4.png:80,projectiles/fire-breath-se-5.png:80
                halo_x,halo_y=27,19
            [/missile_frame]
        [/else]

        [if]
            hits=no

            [frame]
                begin=-400
                end=-350
                image="units/battalion/battalion-bat-se-3.png"
                sound=flame-big-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes

            [frame]
                begin=-400
                end=-350
                image="units/battalion/battalion-bat-se-3.png"
                sound=flame-big.ogg
            [/frame]
        [/else]

        [frame]
            begin=-350
            end=100
            image="units/battalion/battalion-bat-se-3.png"
        [/frame]
    [/attack_anim]
[/unit_type]
