#textdomain wesnoth-Danse_Macabre
[unit_type]
    id=Death Master
    name= _ "Death Master"
    race=undead
    image="units/deathmaster/deathmaster.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    {TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=60
    movement_type=undeadfoot
    movement=6
    experience=180
    level=3
    alignment=chaotic
    advances_to=Death Ruler
    cost=28
    usage=fighter
    description= _ "Death Master is something of Marshal for the dead."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}+{SPECIAL_NOTES_PLAGUE}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound=skeleton-big-die.ogg
    [abilities]
        {ABILITY_SUBMERGE}
        {ABILITY_LEADERSHIP_LEVEL_3}
    [/abilities]
    [resistance]
        blade=60
        impact=120
        pierce=40
    [/resistance]
    [recruit_anim]
        [frame]
            begin=-200
            end=100
            image="units/deathmaster/deathmaster-dying-7.png"
            alpha="0~1:300"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/deathmaster/deathmaster-dying-6.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/deathmaster/deathmaster-dying-5.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/deathmaster/deathmaster-dying-4.png"
        [/frame]
        [frame]
            begin=400
            end=500
            image="units/deathmaster/deathmaster-dying-3.png"
        [/frame]
        [frame]
            begin=500
            end=600
            image="units/deathmaster/deathmaster-dying-2.png"
        [/frame]
        [frame]
            begin=600
            end=700
            image="units/deathmaster/deathmaster-dying-1.png"
        [/frame]
    [/recruit_anim]
    [death]
        [frame]
            begin=0
            end=100
            image="units/deathmaster/deathmaster-dying-1.png"
        [/frame]
        [frame]
            begin=100
            end=200
            image="units/deathmaster/deathmaster-dying-2.png"
        [/frame]
        [frame]
            begin=200
            end=300
            image="units/deathmaster/deathmaster-dying-3.png"
        [/frame]
        [frame]
            begin=300
            end=400
            image="units/deathmaster/deathmaster-dying-4.png"
        [/frame]
        [frame]
            begin=400
            end=500
            image="units/deathmaster/deathmaster-dying-5.png"
        [/frame]
        [frame]
            begin=500
            end=600
            image="units/deathmaster/deathmaster-dying-6.png"
        [/frame]
        [frame]
            begin=600
            end=700
            image="units/deathmaster/deathmaster-dying-7.png"
        [/frame]
    [/death]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            duration=100
            image="units/deathmaster/deathmaster-idle-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/deathmaster/deathmaster-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/deathmaster/deathmaster-idle-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/deathmaster/deathmaster-idle-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/deathmaster/deathmaster-idle-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/deathmaster/deathmaster-idle-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/deathmaster/deathmaster-idle-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/deathmaster/deathmaster-idle-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/deathmaster/deathmaster-idle-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/deathmaster/deathmaster-idle-1.png"
        [/frame]
    [/idle_anim]
    [attack]
        name=axe
        description=_"plague axe"
        icon=attacks/plagueaxe.png
        type=blade
        range=melee
        damage=11
        number=5
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE (DM Walking Corpse)}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/deathmaster/deathmaster-defend-2.png" "units/deathmaster/deathmaster-defend-1.png" {SOUND_LIST:SKELETON_BIG_HIT} }
    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/deathmaster/deathmaster-attack1.png"
        [/frame]
        [if]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/deathmaster/deathmaster-attack2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/deathmaster/deathmaster-attack2.png"
                sound=axe.ogg
            [/frame]
        [/else]
        [frame]
            begin=50
            end=150
            image="units/deathmaster/deathmaster-attack3.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/deathmaster/deathmaster-defend-1.png"
        [/frame]
    [/attack_anim]

    [healing_anim]
        [frame]
            begin=0
            end=730
            halo=halo/holy/light-beam-1.png:30,halo/holy/light-beam-2.png:30,halo/holy/light-beam-3.png:30,halo/holy/light-beam-4.png:30,halo/holy/light-beam-5.png:30,halo/holy/light-beam-6.png:30,halo/holy/light-beam-7.png:130,halo/holy/light-beam-6.png:70,halo/holy/light-beam-5.png:70,halo/holy/light-beam-4.png:70,halo/holy/light-beam-3.png:70,halo/holy/light-beam-2.png:70,halo/holy/light-beam-1.png:70
        [/frame]
        [frame]
            begin=730
            end=1800
            image="units/deathmaster/deathmaster-attack1.png"
        [/frame]
        [frame]
            begin=1800
            end=1875
            image="units/deathmaster/deathmaster-attack1.png"
            halo=halo/undead/black-magic-1.png
        [/frame]
        [frame]
            begin=1875
            end=1950
            image="units/deathmaster/deathmaster-attack1.png"
            sound=magic-dark-big.ogg
            halo=halo/undead/black-magic-2.png
        [/frame]
        [frame]
            begin=1950
            end=2025
            image="units/deathmaster/deathmaster-attack1.png"
            halo=halo/undead/black-magic-3.png
        [/frame]
        [frame]
            begin=2025
            end=2100
            image="units/deathmaster/deathmaster-attack1.png"
            halo=halo/undead/black-magic-4.png
        [/frame]
        [frame]
            begin=2100
            end=2150
            image="units/deathmaster/deathmaster-attack1.png"
            halo=halo/undead/black-magic-5.png
        [/frame]
        [frame]
            duration=1100
            image="units/deathmaster/deathmaster-attack1.png"
        [/frame]
    [/healing_anim]
[/unit_type]
