#textdomain wesnoth-Danse_Macabre

[unit_type]
    id=SpiritPrincess
    name= _ "The Soul"
    gender=female
    race=undead
    image="units/past/spirit-princess.png"
    {DEFENSE_ANIM "units/past/human-princess-defend.png" "units/past/human-princess.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [leading_anim]
        [frame]
            begin=-150
            end=150
            image="units/past/human-princess-leading.png"
        [/frame]
    [/leading_anim]
    hitpoints=48
    movement_type=undeadfly
    movement=6
    level=2
    alignment=neutral
    advances_to=null
    hide_help=true
    do_not_list=yes
    {AMLA_DEFAULT}
    cost=39
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    usage=fighter
    description= _ "A noble by birth, the Princess has learnt swordplay with the greatest generals and battle tactics with the greatest sages, making her both a great combatant and leader. The units of lower level around the Princess will fight better due to her presence. The Princess is also nimble and dextrous, having skills like that of a thief."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}

    [movement_costs]
        impassable=1
    [/movement_costs]

    [attack]
        name=saber
        description= _"saber"
        icon=attacks/saber-human.png
        type=blade
        range=melee
        damage=11
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        [frame]
            begin=-225
            end=-175
            image="units/past/human-princess-attack-1.png"
        [/frame]
        [frame]
            begin=-175
            end=-125
            image="units/past/human-princess-attack-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-125
                end=0
                image="units/past/human-princess-attack-3.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-125
                end=0
                image="units/past/human-princess-attack-3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=150
            image="units/past/human-princess-attack-4.png"
        [/frame]
        [frame]
            begin=150
            end=175
            image="units/past/human-princess.png"
        [/frame]
    [/attack_anim]
    [healing_anim]
        [frame]
            begin=0
            end=730
            halo=halo/holy/light-beam-1.png:30,halo/holy/light-beam-2.png:30,halo/holy/light-beam-3.png:30,halo/holy/light-beam-4.png:30,halo/holy/light-beam-5.png:30,halo/holy/light-beam-6.png:30,halo/holy/light-beam-7.png:130,halo/holy/light-beam-6.png:70,halo/holy/light-beam-5.png:70,halo/holy/light-beam-4.png:70,halo/holy/light-beam-3.png:70,halo/holy/light-beam-2.png:70,halo/holy/light-beam-1.png:70
        [/frame]
    [/healing_anim]
[/unit_type]
