#textdomain wesnoth-Danse_Macabre

[unit_type]
    id=Princess
    name= _ "Aide-de-Camp"
    gender=female
    race=human
    image="units/past/human-princess.png"
    profile="portraits/princess.png"
#ifver WESNOTH_VERSION < 1.13.0
    small_profile="portraits/princess.png~CROP(0,20,400,400)~SCALE(205,205)"
#endif
    {DEFENSE_ANIM "units/past/human-princess-defend.png" "units/past/human-princess.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [leading_anim]
        start_time=-150
        [frame]
            image="units/past/human-princess-leading.png:300"
        [/frame]
    [/leading_anim]
    hitpoints=48
    movement_type=elusivefoot
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    do_not_list=yes
    {AMLA_DEFAULT}
    cost=39
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    usage=fighter
    description= _ "A noble by birth, the Princess has learnt swordplay with the greatest generals and battle tactics with the greatest sages, making her both a great combatant and leader. The units of lower level around the Princess will fight better due to her presence. The Princess is also nimble and dextrous, having skills like that of a thief."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [attack]
        name=saber
        description={STR_SABER}
        icon=attacks/saber-human.png
        type=blade
        range=melee
        damage=11
        number=4
    [/attack]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="units/past/human-princess-idle-[1~5,3~6].png:[100*4,150,100*2,200,100]"
        [/frame]
    [/idle_anim]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]
        start_time=-175
        [frame]
            image="units/past/human-princess-attack-[1~4].png:[50*2,125,150]"
        [/frame]
        [frame]
            image="units/past/human-princess.png:25"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]

    [variation]
        variation_id=spirit
        inherit=yes
        variation_name= _ "Spirit"
#ifver WESNOTH_VERSION < 1.13.0
        image="units/past/spirit-princess.png"
#else
        image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,5%)"
        profile="portraits/princess.png~SEPIA()~BLEND(50,50,50,10%)"
        {DEFENSE_ANIM "units/past/human-princess-defend.png~SEPIA()~BLEND(50,50,50,5%)" "units/past/human-princess.png~SEPIA()~BLEND(50,50,50,5%)" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        [leading_anim]
            start_time=-150
            [frame]
                image="units/past/human-princess-leading.png~SEPIA()~BLEND(50,50,50,5%):300"
            [/frame]
        [/leading_anim]
#endif
        movement_type=undeadfly

        # although the princess doesn't have an healing ability, this animation is used in a scenario
        [healing_anim]
            start_time=0
            [frame]
                halo=halo/holy/light-beam-[1~6,7,6~1].png:[30*6,130,70*6]
            [/frame]
        [/healing_anim]
#ifver WESNOTH_VERSION >= 1.13.0
        [idle_anim]
            {STANDARD_IDLE_FILTER}
            start_time=0
            [frame]
                image="units/past/human-princess-idle-[1~5,3~6].png~SEPIA()~BLEND(50,50,50,5%):[100*4,150,100*2,200,100]"
            [/frame]
        [/idle_anim]
        [attack_anim]
            [filter_attack]
                range=melee
            [/filter_attack]
            start_time=-175
            [frame]
                image="units/past/human-princess-attack-[1~4].png~SEPIA()~BLEND(50,50,50,5%):[50*2,125,150]"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,5%):25"
            [/frame]
            {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
        [/attack_anim]
        [standing_anim]
            start_time=-150
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,6%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,7%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,8%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,9%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,10%):150"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,9%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,8%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,7%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,6%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,5%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,4%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,3%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,2%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,1%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,0%):150"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,1%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,2%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,3%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,4%):50"
            [/frame]
            [frame]
                image="units/past/human-princess.png~SEPIA()~BLEND(50,50,50,5%):50"
            [/frame]
        [/standing_anim]
#else
        [idle_anim]
            __remove=yes
        [/idle_anim]
#endif
    [/variation]
[/unit_type]
